$first_color: #3c414c;
$second_color: #2f2f2f;
$third_color: #5db2c3;
$grey_color: #bec3c4;
$first_text_color: #d8d9db;

$s_size: 12px;
$m_size: 14px;
$l_size: 16px;
$xl_size: 18px;
$xxl_size: 54px;
$xxxl_size: 56px;

@media screen and (max-width: 992px) {
	.pc-show {
		display: none;
	}
	.mobile-show {
		display: block;
	}
	.second-header {
		background: $second_color;
    	height: 64px;
	}
	.second-header_logo li {
		line-height: 64px;
		float: left;
	}
	.mobile-menu {
		position: fixed;
		width: 50%;
		height: 100vh;
		color: #fff;
		background: $second_color;
		right: 0;
		padding: 0px 15px;
		transform: translateX(100%);
		transition: .4s ease;
		z-index: 2;
		.acitve a {
			color: $third_color;
		}
		a {
			display: block;
			color: #fff;
			padding-bottom: 5px;
			padding-top: 5px;
		}
		a:hover {
			text-decoration: none;
		}
		a:focus {
			text-decoration: none;	
		}
		.mobile-menu-contact {
			margin-bottom: 25px;
		}
		.social-icons li {
			padding: 0px 5px 0px 0px;
		}
	}
	.mobile-menu-top {
		margin-bottom: 25px;
	}
	.mobile-menu-nav .panel {
		background: transparent;
		border-radius: none;
		border: none;
		box-shadow: none;
		color: #fff;
		margin-bottom: 0px;
		.panel-heading {
			padding: 0px;
		}
	}
	.hamburger-menu {
		width: 30px;
		height: 64px;
		float: right;
		cursor: pointer;
		overflow: hidden;
		position: relative;
	}
	.hamburger-menu span:nth-child(1) {
		top: 20.5px;
	}
	.hamburger-menu span:nth-child(2), .hamburger-menu span:nth-child(3) {
		top: 28.5px;
	}
	.hamburger-menu span:nth-child(4) {
		top: 36.5px;
	}
	.hamburger-menu span {
		width: 30px;
		height: 2px;
		background: #fff;
		display: block;
		position: absolute;
		left: 0;
	}
	.welcome-block {
		height: 100vh;
		background-position: 10% 50%;
	}
	.welcome-text_title {
		font-size: 9vw;
		text-align: center;
	}
	.welcome-text_second_title {
		font-size: 9vw;
		font-weight: 100;
		text-align: center;
	}
	.welcome-text_description {
		width: 100%;
		font-size: 4vw;
		color: $grey_color;
		line-height: 36px;
	}
	.timezone {
		width: 340px;
	}
	.first-button {
		margin: auto;
	}
	.mobile-menu-show {
		transform: translateX(0);
	}
	.services-block {
		margin-bottom: 80px;
	}
	.services-block:last-child {
		margin-bottom: 0px;
	}
	.other-services .container:before, .other-services .container:after {
		display: none;
	}
	.other-services h2 {
		padding: 40px 0px;
		margin: 0px;
	}
	.other-services .panel {
		background-color: transparent;
		border: none;
	}
	.other-services .panel-heading {
		padding: 10px 0px;
		background-color: transparent;
		border: none;
	}
	.other-services .panel-title {
		font-size: 4vw;
		color: #fff;
		text-transform: uppercase;
	}
	.other-services .active a {
		color: $third_color;
	}
	.other-services .panel-body {
		padding: 15px 0px;
		border-top: none !important;
		color: #fff;
	}
	.why-choose-us-row {
		margin-bottom: 35px;
	}
	.why-choose-us-row_icon {
		display: table-cell;
		position: relative;
		padding-right: 20px;
	}
	.why-choose-us-row_text {
		display: table-cell;
		vertical-align: middle;
		font-weight: 700;
	}
	.why-choose-us-row_icon:before {
		content: " ";
		width: 1px;
		height: 50%;
		color: black;
		position: absolute;
		top: 70px;
		left: 35px;
		border-left: 1px dashed #a9a9a9;
	}
	.why-choose-us-row_icon:after {
		content: " ";
		position: absolute;
		width: 20px;
		height: 1px;
		background: #a9a9a9;
		top: 35px;
		right: 0px;
	}
	.why-choose-us-row:last-child .why-choose-us-row_icon:before {
		display: none;
	}
	.special-offer .second-button {
		margin: auto;
	}
	.special-offer-left_photo {
		margin: 50px 0;
		img {
			display: block;
			margin: auto;
		}
	}
	.news-item {
		margin-bottom: 80px;
	}
	.news-item:last-child {
		margin-bottom: 0px;
	}
	.partner {
		margin-bottom: 40px;
	}
	.partner:last-child {
		margin-bottom: 0px;
	}
	.review {
		width: 100%;
	}
	footer {
		.mobile-block-center {
			display: flex;
			justify-content: center;
		};
		.footer-address, .footer-phones {
			margin-bottom: 40px;
		}
		.footer-title h2 {
			margin: 40px 0px;
		}
		.for-before:after {
			display: none;
		};
		.for-before:before {
			display: none;
		}
	}
}
